@charset "UTF-8";

.btn {
  height: 30px;
  position: fixed;
  z-index: 999;
}

a-scene {
  z-index: -1; /* シーンを背面に */
}

.hidden {
  display: none !important;
}

.a-modal {
  display: none !important;
}

.btn {
  position: fixed;
  z-index: 1000;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
